# Exclude Git folder
.git/

# Exclude cache folder
.cache/
cache/

# Exclude Node modules
node_modules/

# Exclude log files
*.log*

# Exclude package lock file
package-lock.json

# Exclude app folder
app/
